$primary-light: #8587c5;
$primary: #6a71b9;
$primary-dark: #565d9e;
$primary-darker: #464b7e;
$primary-darkest: #36395d;
$primary-darkerest: #27273e;
$whiteish: #fcfcfc;
$blackish: #101010;

$space-l: 60px;
$space-m: 45px;
$space-s: 30px;

$break-xl: 1280px;
$break-l: 1024px;
$break-m: 768px;
$break-s: 568px;

$width-limit: 1200px;
$width-limit-s: 600px;


// $primary: #6e75b5;
// $primary: #6169b5;
// $secondary: #878ac1;
