@import url(./css/menu-animation.css);
/*https://stackoverflow.com/questions/38136077/how-to-morph-a-plus-sign-to-a-minus-sign-using-css-transition*/
@import url(./css/page-animation.css);
@import url(./antdiconfont/iconfont.css);
.qa-toggle {
  color: red; }

.qa-toggle {
  color: #101010;
  width: 25px;
  height: 25px;
  border: 0;
  font-size: 1.5em;
  top: 3px;
  position: relative; }

.qa-toggle span {
  position: absolute;
  transition: .3s;
  background: #101010;
  border-radius: 1px; }

.qa-toggle span:first-of-type {
  top: 6px;
  bottom: 6px;
  width: 3px;
  left: 11px; }

.qa-toggle span:last-of-type {
  left: 6px;
  right: 6px;
  height: 3px;
  top: 11px; }

#plusminus {
  display: none; }

#plusminus:checked ~ .qa-toggle span:first-of-type,
#plusminus:checked ~ .qa-toggle span:last-of-type {
  transform: rotate(90deg); }

#plusminus:checked ~ .qa-toggle span:last-of-type {
  left: 50%;
  right: 50%; }

#ian {
  background-image: url("pictures/ian.jpg");
  background-position: left 30% top; }

#ellen {
  background-image: url("pictures/ellen.jpg");
  background-position: left 40% top; }

#pablo {
  background-image: url("pictures/pablo.jpg");
  background-position: left 40% top; }

#quentin {
  background-image: url("pictures/quentin.jpg");
  background-position: left 40% top; }

#claire {
  background-image: url("pictures/claire.jpg");
  background-position: left 40% top; }

#vinh {
  background-image: url("pictures/vinh.jpg");
  background-position: left 65% top; }

#stephen {
  background-image: url("pictures/stephen.jpg");
  background-position: left 55% top; }

#nina {
  background-image: url("pictures/nina.jpg");
  background-position: left 60% top; }

.portrait {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center top; }

.open-roles {
  top: 190px;
  position: relative; }

.images .pure-u-lg-1-4 {
  height: 300px !important; }

* {
  white-space: pre-line;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif; }

.qa {
  width: calc(100% - 45px - 45px);
  margin: auto;
  max-width: 600px;
  margin: auto;
  margin-bottom: 35px;
  transition: .3s; }
  @media (max-width: 1024px) {
    .qa {
      width: calc(100% - 30px - 30px); } }

.question {
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px; }

.question-toggle {
  padding: 5px;
  font-size: 22px; }

.bebop-jobs {
  margin: auto;
  margin-bottom: 100px;
  z-index: 0;
  position: relative;
  max-width: 1200px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding-top: 100px;
  background: white; }

.images .pure-u-lg-1-4 {
  height: 220px;
  overflow: hidden; }

.no-hover:hover {
  border-bottom: none !important; }

.spacer {
  width: 100vw;
  height: 45px; }

.spacer-line {
  width: 100vw;
  height: 22px;
  max-width: 1200px;
  margin: auto; }
  .spacer-line--border {
    border-top: 1px solid #ccc; }

.spacer-anti {
  margin-top: -55px; }

.language {
  display: block !important; }
  .language-option {
    position: relative;
    left: 6px; }
  .language::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #101010;
    position: relative;
    top: 12px;
    right: -30px; }

.language-dropdown {
  position: relative;
  top: 18px; }

.menu {
  font-size: calc(3vw + 4vh + -15px);
  line-height: calc(4vw + 4vh + 10px);
  margin-bottom: 45px;
  margin-top: 45px;
  margin: auto;
  width: auto;
  border-bottom: 2px solid transparent;
  z-index: 2;
  display: inline-block;
  cursor: pointer; }

#home {
  color: #9f9ac1; }

#careers {
  color: #8f8ab7; }

#workwithus {
  color: #807aad; }

#about {
  color: #706aa3; }

#product {
  color: #605c99; }

.pure-g {
  letter-spacing: normal; }

.half {
  margin-bottom: 60px;
  margin-top: 60px; }
  .half-text {
    padding-right: 30px;
    padding-left: 30px; }
  .half-first {
    padding-right: 30px;
    box-sizing: border-box; }
  .half-second {
    padding-left: 30px;
    box-sizing: border-box; }
  .half-full {
    padding-right: 0;
    padding-left: 0; }

.overlay-half {
  margin-bottom: 60px;
  margin-top: 60px;
  max-width: 1200px;
  margin: auto; }
  .overlay-half-text {
    background: #fcfcfc;
    position: relative;
    right: 50px;
    top: 50px;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .overlay-half-paragraph {
    width: 100%;
    margin-top: 15px; }
  .overlay-half-text-reversed {
    left: 50px; }

.overlay-full-text {
  right: 0;
  left: 0;
  top: -25px;
  width: 80%;
  left: 10%; }

.big-title {
  display: block; }

.small-title {
  font-size: 30px;
  line-height: 35px; }

.footer a {
  border-bottom: 1px solid transparent;
  transition: .1s; }

.footer a:hover {
  border-bottom: 1px solid #101010; }

.paragraph {
  margin: 0;
  display: inline-block; }

@media (min-width: 1024px) {
  .paragraph {
    width: 60%; }
  h1 {
    color: #101010;
    width: 60%;
    margin-bottom: 15px; }
  .btn {
    min-width: 168px; }
  .center {
    margin-bottom: -20px; } }

@media (max-width: 1024px) {
  .paragraph {
    width: 100%; }
  h1 {
    width: 100%; }
  .btn {
    display: block; }
  .maybe-center {
    text-align: center;
    width: 100%; }
  .center {
    margin-bottom: -45px; } }

.maybe-center {
  width: calc(100% - 45px - 45px);
  margin: auto;
  max-width: 1200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: auto; }
  @media (max-width: 1024px) {
    .maybe-center {
      width: calc(100% - 30px - 30px); } }

.images {
  position: relative;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
  width: 100%;
  max-width: 1200px; }

.features {
  position: relative;
  max-width: 1200px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px; }

.btn {
  font-size: 21px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  height: 56px;
  border-radius: 3px;
  display: block;
  text-align: center;
  line-height: 58px;
  color: #6a71b9;
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
  border: 2px solid none;
  transition: .4s;
  display: inline-block; }

.btn:hover {
  color: #8587c5; }

.btn-fill {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background: #6a71b9;
  color: #fcfcfc;
  border: 2px solid #8587c5; }

.btn-fill:hover {
  background: #8587c5;
  color: #fcfcfc;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }

.center {
  letter-spacing: 0px;
  text-align: center;
  width: calc(100% - 45px - 45px);
  margin: auto;
  position: relative;
  margin-top: 45px;
  margin-bottom: 45px; }
  @media (max-width: 1024px) {
    .center {
      width: calc(100% - 30px - 30px); } }

.contact-button {
  background: none; }

.testElClass1 {
  background: #27273e;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  opacity: .98;
  color: #fcfcfc !important;
  transition: .4s;
  border-color: #fcfcfc; }

.heat-subtext {
  max-width: 600px;
  width: 80%;
  margin: auto;
  font-weight: 300;
  font-size: calc(.5vw + 14px);
  line-height: calc(.6vw + 18px); }

.heat-text {
  color: #fcfcfc;
  width: 90%;
  text-align: center;
  position: absolute;
  top: 40%;
  tansform: translateY(45px);
  margin-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%; }

.legal-inner {
  opacity: .6;
  font-size: 12px;
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: -45px; }
  @media (min-width: 568px) {
    .legal-inner {
      padding-left: 50px; } }
  @media (max-width: 568px) {
    .legal-inner {
      padding-left: 30px; } }

.legal-inner .logo {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 16px;
  padding-right: 8px;
  cursor: default; }

p {
  margin-top: 4px;
  margin-bottom: 4px; }

.footer-col-links {
  font-weight: 500;
  padding-top: 6px;
  line-height: 22px; }

.footer-col-text {
  font-size: 16px;
  font-weight: 700;
  color: #444;
  padding-top: 30px; }

.footer-inner {
  width: calc(100% - 45px - 45px);
  margin: auto;
  max-width: 1200px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 70px; }
  @media (max-width: 1024px) {
    .footer-inner {
      width: calc(100% - 30px - 30px); } }

.footer-col {
  width: 200px;
  margin-left: 48px;
  margin-right: 48px;
  display: inline-block;
  position: relative; }

.footer {
  width: 100%;
  background: #f5f8fa;
  margin-bottom: 35px; }

.icon-text-bold {
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 6px; }

.icon-text {
  font-size: 18px;
  margin-left: 30px;
  margin-right: 30px;
  letter-spacing: 0; }
  @media (min-width: 1024px) {
    .icon-text {
      width: calc(100% - 40px); } }
  @media (max-width: 1024px) {
    .icon-text {
      width: calc(100% - 160px);
      display: inline-block; } }

.icon-wrap {
  display: inline-block;
  background: #6a71b9;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  margin-left: 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  text-align: center; }
  @media (max-width: 1024px) {
    .icon-wrap {
      position: relative;
      bottom: 100%;
      transform: translateY(90px); } }

.icon {
  color: white;
  font-size: 24px;
  line-height: 60px; }

.image-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  overflow: hidden;
  position: relative; }

.heat {
  background-image: url("pictures/heat.jpg"); }

.unga {
  background-image: url("pictures/unga.jpg");
  background-position: bottom; }

.sf {
  background-image: url("pictures/sf.jpg");
  background-position: bottom; }

.image {
  min-width: 100%;
  min-height: 100%;
  filter: brightness(40%);
  background-size: cover; }

.title-wrap {
  width: calc(100% - 45px - 45px);
  margin: auto;
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px; }
  @media (max-width: 1024px) {
    .title-wrap {
      width: calc(100% - 30px - 30px); } }

.title-wrap-centered {
  text-align: center;
  width: calc(100% - 45px - 45px);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 10;
  position: relative; }
  @media (max-width: 1024px) {
    .title-wrap-centered {
      width: calc(100% - 30px - 30px); } }

.title-wrap-centered > .paragraph {
  max-width: 600px; }

.header-wrap {
  width: 100%;
  padding-right: 45px;
  padding-left: 45px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 999;
  height: 70px; }
  @media (max-width: 1024px) {
    .header-wrap {
      padding-right: 30px;
      padding-left: 30px; } }

.header {
  margin: auto;
  width: 100%;
  line-height: 70px;
  max-width: 1200px;
  margin: auto; }

.rainbow-header {
  width: 100%;
  z-index: 2;
  color: #101010; }

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #fcfcfc; }

@media (max-width: 1024px) {
  .feature-col {
    width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .feature-col:nth-child(n+2) {
    margin-top: 30px; } }

@media (max-resolution: 300dpi) {
  .menu:after {
    position: relative;
    top: -5px;
    content: '';
    display: block;
    width: 0;
    margin: auto;
    border-bottom: 2px solid transparent;
    transition: width 0.3s cubic-bezier(0, 0.15, 0.25, 1) !important; } }

@media (min-width: 768px) {
  #op:checked ~ .overlay-hugeinc {
    opacity: 1;
    visibility: hidden;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
  .lower {
    display: none; }
  .dissapear {
    display: inline-block; }
  .features {
    width: calc(100% - 45px - 45px);
    margin: auto; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .features {
      width: calc(100% - 30px - 30px); } }

@media (max-width: 768px) {
  #op:checked ~ .overlay-hugeinc {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
  .lower {
    display: inline-block;
    position: absolute;
    top: 100px; }
  .dissapear {
    display: none; }
  .features {
    width: 100%; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-weight: 800;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 0;
  margin-bottom: 6px; }
  @media (min-width: 1024px) {
    h1 {
      font-size: 65px;
      line-height: 70px; } }
  @media (max-width: 1024px) {
    h1 {
      font-size: 45px;
      line-height: 50px; } }

h2 {
  font-weight: 800;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  line-height: 44px;
  margin-top: 0;
  margin-bottom: 9px; }
  @media (max-width: 1024px) {
    h2 {
      font-size: 36px;
      line-height: 40px; } }

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500; }
  @media (max-width: 568px) {
    h5 {
      font-size: 16px;
      line-height: 20px; } }

h6 {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; }

.h7 {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer; }

.logo {
  float: left;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer; }

.title-inner-test {
  float: right;
  margin-right: -6px;
  z-index: 12;
  cursor: pointer;
  position: relative;
  cursor: pointer; }

.title-menu-test {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 6px;
  border-bottom: 2px solid transparent;
  line-height: 18px; }
  .title-menu-test__hover:hover:after {
    border-bottom: 2px solid;
    width: 100%; }

.title-menu-test:after {
  content: '';
  display: block;
  width: 0;
  margin: auto;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: width 0.18s cubic-bezier(0, 0.15, 0.2, 1) !important; }

.selected:after {
  width: 100%;
  content: '';
  display: block;
  margin: auto;
  position: relative;
  border-bottom: 2px solid;
  transition: width 0.2s cubic-bezier(0, 0.35, 0.65, 1) !important; }

a {
  text-decoration: none;
  color: inherit; }
